{% extends 'base.html' %}


	<main>
		<header class="row tm-welcome-section">
			<h2 class="col-12 text-center tm-section-title">About Simple House</h2>
			<p class="col-12 text-center">This is about page of simple house template. 
			You can modify and use this HTML template for your website. Total 3 HTML pages included in this template. Header image has a parallax effect.</p>
		</header>

		<div class="tm-container-inner tm-persons">
			<div class="row">
					<article class="col-lg-6">
					<figure class="tm-person">
						<img src="img/about-04.jpg" alt="Image" class="img-fluid tm-person-img" />
						<figcaption class="tm-person-description">
							<h4 class="tm-person-name">Valentina Martin</h4>
							<p class="tm-person-title">Culinary Director</p>
							<p class="tm-person-about">Praesent non vulputate elit. Orci varius
							natoque penatibus et magnis montes, nascetur ridiculus mus.</p>
							<div>
								<a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
								<a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
								<a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
								<a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube tm-social-icon"></i></a>
							</div>
						</figcaption>
					</figure>
					</article>
			</div>
		</div>
		<div class="tm-container-inner tm-featured-image">
			<div class="row">
				<div class="col-12">
					<div class="placeholder-2">
						<div class="parallax-window-2" data-parallax="scroll" data-image-src="img/about-05.jpg"></div>		
					</div>
				</div>
			</div>
		</div>
		<div class="tm-container-inner tm-history">
			<div class="row">
				<div class="col-12">
					<div class="tm-history-inner">
						<img src="img/about-06.jpg" alt="Image" class="img-fluid tm-history-img" />
						<div class="tm-history-text"> 
							<h4 class="tm-history-title">History of our restaurant</h4>
							<p class="tm-mb-p">Sed ligula risus, interdum aliquet imperdiet sit amet, auctor sit amet justo. Maecenas posuere lorem id augue interdum vehicula. Praesent sed leo eget libero ultricies congue.</p>
							<p>Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a href="https://templatemo.com/contact">contact TemplateMo</a> for additional permissions about our templates. Thank you.</p>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</main>
