{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="Products" style="display: inline-flex;">
  {% for product in products %}
    <div class="card" style="width: 10rem; margin-block: 1rem; margin-left: 2cm; align-items: inherit; ">
        <a href="{{ product.get_absolute_url }}"> <img src="{{product.image.url}}" class="card-img-top" alt=""> </a>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <a href="#" class="btn btn-primary">{{product.price}}</a>
          <a href="{{product.get_add_to_cart_url}} " class="btn btn-primary">Add to cart</a>
        </div>
      </div>
  {% endfor %}
</div>
 {% endblock content %}